%h2 Cidades
%h3= "Você está em #{@city.name}"
%ul
  - @tracks.includes(:city).order('cities.name').each do |track|
    - unless track.city == @city
      %li= link_to track.city.name, mission_track_path(@mission, track)
= render 'shared/mission_navigation', :mission => @mission
