%ul#mission_navigation
  %li= link_to 'Dados da Missão', mission_path(mission)
  %li= link_to 'Investigar locais', mission_networks_path(mission)
  %li= link_to 'Viajar para outra cidade', mission_tracks_path(mission)
  %li Ver pistas coletadas
