:markdown
  ## O Jogo
  Em project Project Sandiego você é um detetive encarregado de solucionar crimes inusitados cometidos ao redor do mundo. Sua missão é coletar evidências que levem a um suspeito, perseguí-lo por diversas cidades e prendê-lo ao final de cada caso.

  Quem são os criminosos? Nada menos que seus amigos do Facebook.

  ## Gostaria de contribuir?
  Envie sua sugestão de caso ou pista para <artfikan@gmail.com>
