= render 'shared/game_explanation'
:markdown
  ## Gostaria de contribuir?
  Project Sandiego é um jogo gratuito e *opensource*. Se você sabe programar em Ruby, contribua através do nosso **[github](https://github.com/luizbranco/sandiego).**

  Se você quer melhorar o conteúdo para o jogo, envie sua sugestão para **<artfikan@gmail.com>**
