div#network_witness
  background-color: #fff
  img
    float: left
    height: 120px
    width: 120px
  div#witness_info
    float: left
    margin-top: 60px
    font-size: 20px
    font-style: italic
    &:before
      content: '\"'
    &:after
      content: '\"'
  div#witness_name
    width: 120px
    margin: 0 0 10px 10px
