body.ranks
  table
    border-collapse: collapse
    thead
      tr
        background-color: #ddd
        th
          text-align: left
          padding: 10px
    tbody tr
      &:nth-child(odd)
        background-color: #f5f5f5
      td
        padding: 10px
  h3
    margin-top: 40px
