%li{:id => ['mission', mission.id], :class => 'missions'}
  %h1= mission.name
  %div= mission.description
  = mission.rank.name
  %ul
    - mission.suspect.traits.each do |trait|
      %li=trait.description
  ="O criminoso é #{mission.suspect.name}"

