:markdown
  ## Regras

  A cada cidade que você passar, você pode visitar locais nos quais o suspeito possivelmente esteve. Se você estiver na trilha certa, a testemunha lhe dará uma pista sobre quem é o suspeito ou sobre a próxima cidade que você deve investigar.

  Se você conseguir pistas suficientes para incriminar o suspeito e encontrar seu esconderijo antes que o tempo acabe, você vence!
